#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# This file is public domain software, originally written by Joey Hess.
#
# This version is for packages that are architecture independent.

# Files to install in the package
script		= $(wildcard $(CURDIR)/usr/bin/*)
libs			= $(CURDIR)/usr/lib/nomcash/
launcher		= $(CURDIR)/usr/share/applications/nomcash.desktop
share			= $(CURDIR)/usr/share/nomcash/

# Destinations on the end-user's system to be installed to
DESTSHARE			= $(CURDIR)/debian/nomcash/usr/share/
DESTAPPLICATIONS	= $(CURDIR)/debian/nomcash/usr/share/applications/
DESTBIN				= $(CURDIR)/debian/nomcash/usr/bin/
DESTLIB				= $(CURDIR)/debian/nomcash/usr/lib/

build: build-stamp


build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(icon) $(script) $(libs) $(launcher) $(conffolder) $(langfolder)
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	# Create needed directories
	mkdir -m 755 -p $(DESTSHARE)
	mkdir -m 755 -p $(DESTAPPLICATIONS)
	mkdir -m 755 -p $(DESTBIN)
	mkdir -m 755 -p $(DESTLIB)
	
	# Install single files
	install -m 755 $(script)	$(DESTBIN)
	#install -m 755 $(libs)		$(DESTLIB)
	install -m 755 $(launcher)	$(DESTAPPLICATIONS)
	
	# install doesn't let you copy whole directories, so let's just use cp
	# install the lib directory
	cp -r $(libs)	$(DESTLIB)
	chmod -R 644 $(DESTLIB) # Set everything in DESTLIB only read-write
	find $(DESTLIB) -type d -exec chmod 755 {} \; # Set directories also executable to fit policy
	# install the share-directory
	cp -r $(share)	$(DESTSHARE)
	chmod -R 644 $(DESTSHARE) # Set everything in DESTSHARE only read-write
	find $(DESTSHARE) -type d -exec chmod 755 {} \; # Set directories also executable to fit policy
	
# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
